  
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&family=Muli:wght@300;400&family=Handlee&display=swap');

/*    BASE.HTML    */

/* header */

header {
    height: 75px;
}

.navbar {
    background-color: #B4CDC9;
    height: 75px;
    padding-right: 25px;
    padding-left: 45px;
}

.navbar-brand {
    font-size: 35px;
    font-family: Handlee;
}

.navbar-nav {
    padding-right: 10px;
}

.nav-item {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 300;
}

.nav-link {
    color: black !important;
}

.search-form {
    background-color: #669898;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 300;
    color: black !important;
}

/* css code to make placeholder text black, taken from https://www.w3schools.com/howto/howto_css_placeholder.asp */
::placeholder { /* for Chrome, Firefox, Opera, Safari 10.1+ */
  color: black !important;
  opacity: 1; /* for Firefox */
}
:-ms-input-placeholder { /* for Internet Explorer 10-11 */
  color: black !important;
}
::-ms-input-placeholder { /* for Microsoft Edge */
  color: black !important;
}

/* footer */

footer {
    background-color: #B4CDC9;
    min-height: 70px;
    padding-bottom: 8px;
}

.footer {
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 300;
}

.footer p {
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0px;
}

.footer a {
    text-decoration: none;
    color: black;
}

.footer a i {
    width: 24px;
    height: 24px;
    padding: 8px 0;
    border-radius: 50%;
    font-size: 15px;
    line-height: 7px;
    text-align: center;
    background-color: #669898;
}

/*    HOME.HTML    */

.phrase {
    background-color: #E3E3E3;
    min-height: 250px;
    padding-top: 72px;
    padding-bottom: 72px;
}

.quote {
    text-align: center;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 500;
}

.font {
    font-family: Muli;
    font-size: 15px;
    font-weight: 300;
}

.content {
    margin-top: 10px;
    margin-bottom: 10px;
}

.genres {
    border-left: 4px solid #437479;
}

ul {
    margin: 0px;
}