  
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&family=Muli:wght@300;400;700&family=Handlee&display=swap');

/*    BASE.HTML    */

/* header */

header {
    height: 75px;
}

.navbar {
    background-color: #B4CDC9;
    height: 75px;
    padding-right: 25px;
    padding-left: 45px;
}

.navbar-brand {
    font-size: 35px;
    font-family: Handlee;
}

.navbar-nav {
    padding-right: 10px;
}

.nav-item {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 300;
}

.nav-link {
    color: black !important;
}

.dropdown-menu {
    border: 2px solid #437479;
    background-color: #B4CDC9;
}

.dropdown-menu a {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 300;
}

.dropdown-menu a:hover {
    background-color: #B4CDC9;
    border-bottom: 1px solid #437479;
}

.search-form {
    background-color: #669898;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 300;
    color: black !important;
}

/* css code to make placeholder text black, taken from https://www.w3schools.com/howto/howto_css_placeholder.asp */
::placeholder { /* for Chrome, Firefox, Opera, Safari 10.1+ */
  color: black !important;
  opacity: 1; /* for Firefox */
}
:-ms-input-placeholder { /* for Internet Explorer 10-11 */
  color: black !important;
}
::-ms-input-placeholder { /* for Microsoft Edge */
  color: black !important;
}

/* footer */

footer {
    background-color: #B4CDC9;
    min-height: 70px;
    padding-bottom: 8px;
}

.footer {
    text-align: center;
    font-family: Muli;
    font-size: 15px;
    font-weight: 300;
}

.footer p {
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0px;
}

.footer a {
    text-decoration: none;
    color: black;
}

.footer a i {
    width: 24px;
    height: 24px;
    padding: 9px 0;
    border-radius: 50%;
    font-size: 15px;
    line-height: 7px;
    text-align: center;
    background-color: #669898;
}

/*    HOME.HTML    */

.phrase {
    background-color: #E3E3E3;
    min-height: 250px;
    padding-top: 64px;
    padding-bottom: 64px;
}

.quote {
    text-align: center;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.font {
    font-family: Muli;
    font-size: 15px;
    font-weight: 300;
    margin: 0px;
}

.content {
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-title {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

h3 {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 300;
}

.genres {
    border-left: 4px solid #437479;
    padding-bottom: 10px;
    padding-top: 0px;
}

.genre-list {
    margin: 0px;
    list-style-type: none;
    padding-left: 20px;
    padding-top: 8px;
}

.genre {
    font-family: Muli;
    font-size: 15px;
    font-weight: 300;
    padding-bottom: 8px;
}

.genre i {
    width: 24px;
    height: 24px;
    padding: 9px 0;
    border-radius: 50%;
    font-size: 15px;
    line-height: 7px;
    text-align: center;
    background-color: #669898;
    margin-right: 10px;
}

/*    BOOKS.HTML    */

.books {
    margin-left: 100px;
    padding-top: 10px;
    margin-top: 20px;
    border-top: 4px solid #437479;
    padding-bottom: 0px;
}

.book_info {
    padding-top: 12px;
    margin: 0px;
}

.book_cover {
    width: 100%;
}

.info {
    font-family: Muli;
    font-size: 15px;
    font-weight: 300;
}

.strong {
    font-weight: 700;
}

.expand_button {
    text-align: right;
}

.see_more {
    border: 2px solid #437479;
    border-radius: 5px;
    color: black;
    font-family: Muli;
    font-size: 15px;
    font-weight: 500;
}

h4 {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
}

.comment {
    font-family: Muli;
    font-size: 15px;
    font-weight: 300;
    margin: 0px;
    padding: 0px;
}

.user_comment {
    margin-top: 15px;
    padding: 10px;
    background-color: #E3E3E3;
    border-radius: 5px;
}

/*    ADDBOOK.HTML    */

.add_book {
    margin-left: 100px;
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 0px;
}

.add_form {
    margin-top: 20px;
}

label {
    font-family: Muli;
    font-size: 15px;
    font-weight: 300;
}

.add_btn {
    border: 2px solid #437479;
    border-radius: 5px;
    color: black;
    font-family: Muli;
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
}

/*    POSTS.HTML    */

.display_posts {
    margin-top: 15px;
}

.posts {
    margin-left: 100px;
    margin-top: 0px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #E3E3E3;
    border-radius: 5px;
}

.underline {
    border-bottom: 2px solid #437479;
}

.post_text {
    padding-top: 5px;
}

.post_info {
    font-family: Muli;
    font-size: 15px;
    font-weight: 300;
    margin: 0px;
    padding: 0px;
}

/*    MEDIA QUERIES    */

@media (max-width: 576px){ /* Design for mobile */
    /* header */
    .navbar-brand {
        margin: auto;
    }
    .navbar-collapse {
        background-color: #B4CDC9;
        text-align: right;
    }
    /* home.html */
    .genres {
        border-left: none;
    }
    .section-title {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .genre-list {
        padding-left: 45px;
    }
    /* books.html */
    .books{
        margin-left: 22px;
        margin-right: 22px;
        width: 100%;
    }
}