 /*    FONTS, HEADINGS AND FONT SIZE   */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&family=Muli:wght@300;400;700&family=Leckerli+One&display=swap'); 

.logo {
    font-size: 40px;
    font-family: Leckerli One;
}

h1 {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 300;
}


h2 {
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 300;
}


h3 {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 300;
}


h4 {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 300;
}

.nav-item {
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 300;
}

.dropdown-item {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 300;
}

.search-font {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 300;
}

.content-font {
    font-family: Muli;
    font-size: 15px;
    font-weight: 300;
}

 /*    End of fonts    */

 /*    IMAGES    */

 .image {
    background: url('../images/books.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
}

  /*    End of images    */

/* Temporary */

.blue {
    background-color: blue;
    width: 100%;
    height: 400px;
    margin: 0px;
}

.yellow {
    background-color: yellow;
    width: 100%;
    height: 400px;
    margin: 0px;
}

.pink {
    background-color: pink;
    width: 100%;
    height: 400px;
    margin: 0px;
}

.green {
    background-color: green;
    width: 100%;
    height: 400px;
    margin: 0px;
}

.orange {
    background-color: orange;
    width: 100%;
    height: 400px;
    margin: 0px;
}

/* End of Temporary */

/*    BASE.HTML    */

/* Header */

header {
    height: 75px;
}

.navbar {
    background-color: #B4CDC9;
    height: 75px;
    padding-right: 25px;
    padding-left: 45px;
}

.navbar-nav {
    padding-right: 10px;
}

.nav-link {
    color: black !important;
}

.active { /* !important had to be added to force css to show as supposed on dropdown */
    font-weight: 500 !important;
    background-color: #B4CDC9 !important;
    color: black !important;
}

.dropdown-menu {
    border: 2px solid #437479;
    background-color: #B4CDC9;
}

.dropdown-menu a:hover {
    background-color: #B4CDC9;
    border-bottom: 1px solid #437479;
}

.search-form {
    background-color: #669898;
    color: black !important;
    margin-right: 0px !important;
}

/* css code to make placeholder text black, taken from https://www.w3schools.com/howto/howto_css_placeholder.asp */
::placeholder { /* for Chrome, Firefox, Opera, Safari 10.1+ */
  color: black !important;
  opacity: 1; /* for Firefox */
}
:-ms-input-placeholder { /* for Internet Explorer 10-11 */
  color: black !important;
}
::-ms-input-placeholder { /* for Microsoft Edge */
  color: black !important;
}

.search {
    background-color: #B4CDC9;
    border: none;
}

.search i {
    width: 45px;
    height: 45px;
    padding: 18px 0;
    border-radius: 50%;
    font-size: 15px;
    line-height: 7px;
    text-align: center;
    background-color: #669898;
    border: 1px solid #ced4da;
} 

/* End of header */

/* Footer */

footer {
    background-color: #B4CDC9;
    min-height: 70px;
    padding-bottom: 8px;
    margin-top: 20px;
}

.footer {
    text-align: center;
    font-family: Muli;
    font-size: 15px;
    font-weight: 300;
}

.footer p {
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0px;
}

.footer a {
    text-decoration: none;
    color: black;
}

.footer a i {
    width: 24px;
    height: 24px;
    padding: 9px 0;
    border-radius: 50%;
    font-size: 15px;
    line-height: 7px;
    text-align: center;
    background-color: #669898;
}

/* End of footer */

/*    End of base.html    */

/*    HOME.HTML    */

.phrase {
    margin-bottom: 20px;
}

.quote {
    text-align: center;
    font-weight: 500;
    margin-bottom: 10px;
}

.font {
    font-family: Muli;
    font-size: 15px;
    font-weight: 300;
    margin: 0px;
}

.content {
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-title {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.carousel {
    width: 100%;
}

.carousel-indicators {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.genres {
    border-left: 4px solid #437479;
    padding-bottom: 10px;
    padding-top: 0px;
}

.genre-list {
    margin: 0px;
    list-style-type: none;
    padding-left: 20px;
    padding-top: 8px;
}

.genre {
    font-family: Muli;
    font-size: 15px;
    font-weight: 300;
    padding-bottom: 8px;
}

.genre i {
    width: 24px;
    height: 24px;
    padding: 9px 0;
    border-radius: 50%;
    font-size: 15px;
    line-height: 7px;
    text-align: center;
    background-color: #669898;
    margin-right: 10px;
}

/*    BOOKS.HTML    */

.row {
    width: 100%;
}

.first_book {
    margin-left: 100px;
    padding-top: 10px;
    margin-top: 20px;
    border-top: none;
    padding-bottom: 0px;
}

.books {
    margin-left: 100px;
    padding-top: 10px;
    margin-top: 20px;
    border-top: 4px solid #437479;
    padding-bottom: 0px;
}

.first_book a {
    color: black !important;
}

.books a {
    color: black !important;
}

.book_info {
    padding-top: 12px;
    margin: 0px;
}

.book_cover {
    width: 100%;
}

.strong {
    font-weight: 700;
}

.expand_button {
    text-align: right;
}

.book_btn {
    border: 2px solid #437479;
    border-radius: 5px;
    color: black;
    font-family: Muli;
    font-size: 15px;
    font-weight: 500;
    margin-left: 5px;
    padding: 5px;
}

/*    BOOK.HTML    */

.book {
    margin-left: 100px;
    padding-top: 10px;
    margin-top: 20px;
    border-bottom: 2px solid #437479;
    padding-bottom: 20px;
}

.rating {
    text-align: right;
}

.rating p {
    display: inline;
    font-family: Muli;
    font-size: 16px;
    padding-right: 5px;
}

.user_rating {
    width: 30px;
    height: 30px;
    padding: 4px 0;
    border-radius: 50%;
    text-align: center;
    background-color: #669898;
    float: right;
}

.user_rating p {
    color: white;
    font-family: Muli;
    font-size: 16px;
    padding: 0px;
}

.reviews {
    margin-left: 100px;
    padding-top: 10px;
}


.hidden {
    display: none;
}

#review_form {
    border: 1px solid #437479;
    padding: 10px;
    border-radius: 5px;
}

.form_review {
    margin-bottom: 10px;
    padding: 0px;
}

.rate_book {
    display: block;
}


.comment {
    font-family: Muli;
    font-size: 15px;
    font-weight: 300;
    margin: 0px;
    padding: 0px;
}

.user_comment {
    margin-top: 15px;
    padding: 10px;
    background-color: #E3E3E3;
    border-radius: 5px;
}

.review_btn {
    border: 1px solid #437479;
    border-radius: 5px;
    color: black;
    font-family: Muli;
    font-size: 12px;
    font-weight: 300;
    margin-left: 5px;
    padding: 5px;
}

.note {
    font-family: Muli;
    font-size: 12px;
    font-weight: 300;
}

/*    ADDBOOK.HTML    */

.add_book {
    margin-left: 100px;
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 0px;
}

.add_form {
    margin-top: 20px;
}

label {
    font-family: Muli;
    font-size: 15px;
    font-weight: 300;
}

.add_btn {
    border: 2px solid #437479;
    border-radius: 5px;
    color: black;
    font-family: Muli;
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
}

/*    POSTS.HTML    */

.display_posts {
    margin-top: 15px;
}

.make_post {
    margin-left: 100px;
    margin-top: 0px;
    margin-bottom: 15px;
    padding: 10px;
}

.posts {
    margin-left: 100px;
    margin-top: 0px;
    margin-bottom: 15px;
}

.user_post {
    padding: 10px !important;
    background-color: #E3E3E3;
    border-radius: 5px;
}

.input_big {
    min-height: 100px;
}

/*    MEDIA QUERIES    */

@media (max-width: 576px){ /* Design for mobile */
    /* header */
    .navbar-brand {
        margin: 0 auto;
    }
    .navbar-collapse {
        background-color: #B4CDC9;
        text-align: right;
    }
    /* home.html */
    .genres {
        border-left: none;
    }
    .section-title {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .genre-list {
        padding-left: 45px;
    }
    /* books.html */
    .books{
        margin-left: 22px;
        margin-right: 22px;
        width: 100%;
    }
}