{% extends 'base.html'%} 

{% block content %}

    <!-- Add Book Form -->

    <div class="row no-gutters">
        <div class="col-sm-8 add_book">
            <h1>Add Book</h1>
            <div class="row no-gutters add_form">
                <form action="{{ url_for('insert_book') }}" method="POST"  class="col-12">
                    <div class="col-sm-6 form-group form_review">
                        <label for="book_title" class="content-font">Book Title *</label>
                        <input type="text" class="form-control" id="book_title" name="book_title" required>
                    </div>
                    <div class="form-group form_review">
                        <label for="cover_photo" class="content-font">URL for Book Cover Image *</label>
                        <input type="url" class="form-control" id="cover_photo" name="cover_photo" required>
                    </div>
                    <div class="form-row form_review">
                        <div class="col">
                            <label for="author" class="content-font">Author *</label>
                            <input type="text" class="form-control" id="author" name="author" required>
                        </div>
                        <div class="col">
                            <label for="year" class="content-font">Year of Publishing</label>
                            <input type="number" min="1000" max="2020" class="form-control" id="year" name="year">
                        </div>
                    </div>
                    <div class="form-group form_review">
                        <label for="synopsis" class="content-font">Book Description</label>
                        <textarea type="text" class="form-control input_big" id="synopsis" name="synopsis"></textarea>
                    </div>
                    <div class="form-row form_review">
                        <div class="col">
                            <label for="collection" class="content-font">Book Collection</label>
                            <input type="text" class="form-control" id="collection" name="collection">
                        </div>
                        <div class="col">
                            <label for="genre" class="content-font">Book Genre *</label>
                            <select class="form-control" id="genre" name="genre" required>
                                <option value="" selected>Select Book Genre</option>
                                <option value="Childrens">Childrens</option>
                                <option value="Classics">Classics</option>
                                <option value="Crime">Crime</option>
                                <option value="Fantasy">Fantasy</option>
                                <option value="Historical Romance">Historical Romance</option>
                                <option value="Poetry">Poetry</option>
                                <option value="Romance">Romance</option>
                                <option value="Thriller">Thriller</option>
                                <option value="Young Adult">Young Adult</option>
                            </select>
                        </div>
                    </div>
                    <div class="row no-gutters justify-content-end">
                        <button type="submit" class="book_btn content-font">Add Book</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}