<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css">
        <script src="https://kit.fontawesome.com/de7adb34bc.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
        <title>Libris</title>
    </head>
    
    <body>

        <!-- Header -->

        <header>
            <nav class="navbar navbar-expand-lg fixed-top navbar-light">
                <a class="navbar-brand logo" href="{{url_for('home_page')}}">LIBRIS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item {% if request.path == '/' %}open{% endif %}">
                            <a class="nav-link" href="{{url_for('home_page')}}">Home</a>
                        </li>
                        <li class="nav-item dropdown {% if request.path == '/books' or request.path == '/add_book' %}open{% endif %}">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Books</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <h4 class="dropdown-header">Browse Books</h4>
                                {% set genre1 = "Childrens" %}
                                <a class="dropdown-item {% if request.path == '/search_by_genre/Childrens' %}open{% endif %}" href="{{url_for('search_by_genre', genre=genre1)}}">Children's</a>
                                {% set genre2 = "Classics" %}
                                <a class="dropdown-item {% if request.path == '/search_by_genre/Classics' %}open{% endif %}" href="{{url_for('search_by_genre', genre=genre2)}}">Classics</a>
                                {% set genre3 = "Crime" %}
                                <a class="dropdown-item {% if request.path == '/search_by_genre/Crime' %}open{% endif %}" href="{{url_for('search_by_genre', genre=genre3)}}">Crime & Mistery</a>
                                {% set genre4 = "Fantasy" %}
                                <a class="dropdown-item {% if request.path == '/search_by_genre/Fantasy' %}open{% endif %}" href="{{url_for('search_by_genre', genre=genre4)}}">Fantasy & Sci-Fi</a>
                                {% set genre5 = "Historical Romance" %}
                                <a class="dropdown-item {% if request.path == '/search_by_genre/Historical Romance' %}open{% endif %}" href="{{url_for('search_by_genre', genre=genre5)}}">Historical Romance</a>
                                {% set genre6 = "Poetry" %}
                                <a class="dropdown-item {% if request.path == '/search_by_genre/Poetry' %}open{% endif %}" href="{{url_for('search_by_genre', genre=genre6)}}">Poetry</a>
                                {% set genre7 = "Romance" %}
                                <a class="dropdown-item {% if request.path == '/search_by_genre/Romance' %}open{% endif %}" href="{{url_for('search_by_genre', genre=genre7)}}">Romance</a>
                                {% set genre8 = "Thriller" %}
                                <a class="dropdown-item {% if request.path == '/search_by_genre/Thriller' %}open{% endif %}" href="{{url_for('search_by_genre', genre=genre8)}}">Thriller</a>
                                {% set genre9 = "Young Adult" %}
                                <a class="dropdown-item {% if request.path == '/search_by_genre/Young Adult' %}open{% endif %}" href="{{url_for('search_by_genre', genre=genre9)}}">Young Adult</a>
                                <a class="dropdown-item {% if request.path == '/books' %}open{% endif %}" href="{{url_for('books_page')}}">See All</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item {% if request.path == '/add_book' %}open{% endif %}" href="{{url_for('add_book')}}">Add Book</a>
                            </div>
                        </li>
                        <li class="nav-item {% if request.path == '/posts' %}open{% endif %}">
                            <a class="nav-link" href="{{url_for('posts_page')}}">Community</a>
                        </li>
                    </ul>
                    <form action="{{ url_for('search') }}" method="POST" class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2 search-form search-font" type="search" placeholder="Title or Author" aria-label="Search" name="search">
                        <button type="submit" class="search"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </nav>
        </header>

        {% block content %} 
        {% endblock %}

        <!-- Footer -->

        <footer>
        <div class="row no-gutters">
            <div class="col-6 contact_us">
                <h3><a class="contact {% if request.path == '/contact' %}open{% endif %}" href="{{url_for('contact_page')}}">Contact Us!</a></h3>
            </div>
            <div class="col-6">
                <div class="row no-gutters">
                    <div class="col footer">
                        <p class="content-font">Follow us on social media for the latest updates and news!</p>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col social-media">
                        <a href="https://www.facebook.com" target="_blank" class="social_media"><i class="fab fa-facebook"></i></a>
                        <a href="https://www.instagram.com" target="_blank" class="social_media"><i class="fab fa-instagram"></i></a>
                        <a href="https://twitter.com" target="_blank" class="social_media"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.linkedin.com" target="_blank" class="social_media"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="{{url_for('static', filename='js/myapp.js')}}"></script>
        
    </body>
</html>