{% extends 'base.html'%} 

{% block content %}
    <div class="row no-gutters">
        <div class="col-sm-8 books">
            <h3>Book Name</h3>
            <div class="row">
                <div class="col-3">
                    Book cover
                </div>
                <div class="col-9">
                    Description<br>
                    Author<br>
                    Date of Publishing<br>
                    Genre
                </div>
            </div>
        </div>
    </div>
{% endblock %}