{% extends 'base.html'%} 

{% block content %}

    {% for book in books %}

        <div class="row no-gutters">
            <div class="row no-gutters">
                <div class="col-sm-8 books">
                    <h3>{{book.book_title}}</h3>
                    <div class="row book_info">
                        <div class="col-4 col-lg-2">
                            <img src="{{book.cover_photo}}" alt="Cover Image" class="book_cover">
                        </div>
                        <div class="col-8 col-lg-10">
                            <p class="info"><span class="strong">Description:</span> {{book.synopsis}}<br>
                            <span class="strong">Author:</span> {{book.author}}<br>
                            <span class="strong">Year of publishing:</span> {{book.year}}<br>
                            <span class="strong">Collection:</span> {{book.collection}}<br>
                            <span class="strong">Genre:</span> {{book.genre}}</p>
                        </div>
                    </div>
                    <div class="row no-gutters justify-content-end">
                        <button class="book_btn">Edit Book</button>
                        <button class="book_btn">Delete Book</button>
                        <!--<button class="book_btn">See User Reviews</button>-->
                    </div>
                    <!-- Not working! How to show only specific reviews ???? -->
                    <!--<div class="row no-gutters reviews">
                        <div class="col">
                            {% for review in reviews %}
                                {% if book.book_title == review.book_title %}
                                <div class="row no-gutters user_comment">
                                    <div class="col">
                                        <h4>{{review.username}}</h4>
                                        <p class="comment">{{review.comment}}</p>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>-->
                </div>
            </div>
        </div>

    {% endfor %}
    
{% endblock %}