{% extends 'base.html'%} 

{% block contact %}

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>

{% endblock %}

{% block content %}

    <section>
        <div class="row no-gutters">
            <div class="col-sm-8 our_contact">
                <h1>Contact Us</h1>
                <div class="row no-gutters justify-content-center">
                    <div class="col-sm-8" id="map">
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col contact_info">
                        <h4>Thank you for supporting us. Please don't hesitate to reach out to us or to visit us if you are ever in Prague.</h4>

                        <!-- Contact form, it's not connected to anything on purpose since I didn't create a email for this site -->

                        <form class="contact_form">
                            <div class="col-sm-6 form-group form_review">
                                <label for="book_title" class="content-font">Name *</label>
                                <input type="text" class="form-control" id="name" name="name" required>
                            </div>
                            <div class="form-group form_review">
                                <label for="synopsis" class="content-font">Message *</label>
                                <textarea type="text" class="form-control input_big" id="message" name="message" required></textarea>
                            </div>
                            <div class="row no-gutters justify-content-end">
                                <button type="submit" class="review_btn content-font">Send Message</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>    
        </div>
    </section>

{% endblock %}

{% block contact2 %}

    <script src="{{url_for('static', filename='js/map.js')}}"></script>

{% endblock %}