{% extends 'base.html'%} 

{% block content %}

    <div class="row no-gutters phrase">
        <div class="col">
            <div class="row no-gutters justify-content-center">
                <div class="col-6">
                    <h2 class="quote">The man who does not read has no advantage over the man who cannot read</h2>
                </div>
            </div>
            <div class="row no-gutters justify-content-end">
                <div class="col-4">
                    <p class="font">Mark Twain</p>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="row no-gutters">
            <div class="col-8">
                <h3>(...)</h3>
            </div>
            <div class="col-4 genres">
                <ul>
                    <li>Children's</li>
                    <li>Classics</li>
                    <li>Crime & Mistery</li>
                    <li>Fantasy & Sci-Fi</li>
                    <li>Historical Romance</li>
                    <li>Poetry</li>
                    <li>Romance</li>
                    <li>Thriller</li>
                    <li>Young Adult</li>
                </ul>
            </div>
        </div>
    </section>

{% endblock %}
