{% extends 'base.html'%} 

{% block content %}

    <div class="row no-gutters phrase">
        <div class="col">
            <div class="row no-gutters justify-content-center">
                <div class="col-6 transparent">
                    <h2 class="quote">"The man who does not read has no advantage over the man who cannot read"</h2>
                    <div class="row no-gutters justify-content-end">
                        <p class="font">Mark Twain</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="row no-gutters">
            <div class="col-sm-8 section-title">
                <h3>Book suggestions</h3>
            </div>
            <div class="col-sm-4 genres">
                <div class="row no-gutters">
                    <div class="col section-title">
                        <h3>What genre would you like to read next?</h3>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col">
                        <ul class="genre-list">
                            <li class="genre"><i class="fas fa-baby"></i> Children's</li>
                            <li class="genre"><i class="fas fa-feather"></i> Classics</li>
                            <li class="genre"><i class="fas fa-book-dead"></i> Crime & Mistery</li>
                            <li class="genre"><i class="fas fa-dragon"></i> Fantasy & Sci-Fi</li>
                            <li class="genre"><i class="fas fa-crown"></i> Historical Romance</li>
                            <li class="genre"><i class="fas fa-scroll"></i> Poetry</li>
                            <li class="genre"><i class="fas fa-heart"></i> Romance</li>
                            <li class="genre"><i class="fas fa-eye"></i> Thriller</li>
                            <li class="genre"><i class="fas fa-child"></i> Young Adult</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
