{% extends 'base.html'%} 

{% block content %}

    <div class="row no-gutters image"></div>
    <section class="content">
        <div class="row no-gutters">
            <div class="row no-gutters justify-content-center">
                <div class="col-8 phrase">
                    <h2 class="quote">"The man who does not read has no advantage over the man who cannot read"</h2>
                    <div class="row no-gutters justify-content-end">
                        <p class="font">Mark Twain</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 section-title">
                <h3>Book suggestions</h3>
            </div>
            <div class="col-sm-4 genres">
                <div class="row no-gutters">
                    <div class="col section-title">
                        <h3>What genre would you like to read next?</h3>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col">
                        <ul class="genre-list">
                            {% set genre1 = "Childrens" %}
                            <li class="genre"><a href="{{url_for('search_by_genre', genre=genre1)}}"><i class="fas fa-baby"></i> Children's</a></li>
                            {% set genre2 = "Classics" %}
                            <li class="genre"><a href="{{url_for('search_by_genre', genre=genre2)}}"><i class="fas fa-feather"></i> Classics</a></li>
                            {% set genre3 = "Crime" %}
                            <li class="genre"><a href="{{url_for('search_by_genre', genre=genre3)}}"><i class="fas fa-book-dead"></i> Crime & Mistery</a></li>
                            {% set genre4 = "Fantasy" %}
                            <li class="genre"><a href="{{url_for('search_by_genre', genre=genre4)}}"><i class="fas fa-dragon"></i> Fantasy & Sci-Fi</a></li>
                            {% set genre5 = "Historical Romance" %}
                            <li class="genre"><a href="{{url_for('search_by_genre', genre=genre5)}}"><i class="fas fa-crown"></i> Historical Romance</a></li>
                            {% set genre6 = "Poetry" %}
                            <li class="genre"><a href="{{url_for('search_by_genre', genre=genre6)}}"><i class="fas fa-scroll"></i> Poetry</a></li>
                            {% set genre7 = "Romance" %}
                            <li class="genre"><a href="{{url_for('search_by_genre', genre=genre7)}}"><i class="fas fa-heart"></i> Romance</a></li>
                            {% set genre8 = "Poetry" %}
                            <li class="genre"><a href="{{url_for('search_by_genre', genre=genre8)}}"><i class="fas fa-eye"></i> Thriller</a></li>
                            {% set genre9 = "Young Adult" %}
                            <li class="genre"><a href="{{url_for('search_by_genre', genre=genre9)}}"><i class="fas fa-child"></i> Young Adult</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
