{% extends 'base.html'%} 

{% block content %}

    <section class="display_posts">
        <div class="row no-gutters">
            <div class="col-sm-8 make_post">
                <form action="{{ url_for('insert_post') }}" method="POST"  class="col-12" id="review_form">
                    <div class="col-sm-6 form-group form_review">
                        <label for="username">User Name *</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="form-group form_review">
                        <label for="post">Share Your Thoughts *</label>
                        <textarea type="text" class="form-control input_big" id="post" name="post" required></textarea>
                    </div>
                    <div class="row no-gutters justify-content-end">
                        <button type="submit" class="add_btn">Share</button>
                    </div>
                </form>
            </div>
        </div>

        {% for post in posts %}

            <div class="row no-gutters posts">
                <div class="col-sm-8 user_post">
                    <h4>{{post.username}}:</h4>
                    <p class="comment"> - {{post.post}}</p>
                    <div class="row no-gutters justify-content-end">
                        <!-- Button to trigger modal -->
                        <button type="button" class="review_btn" data-toggle="modal" data-target="#mycommentmodal">Unshare</button>
                        <!-- Modal -->
                        <div class="modal fade" id="mycommentmodal" tabindex="-1" role="dialog" aria-labelledby="delete_comment" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="delete_comment">Delete Post</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h6>Are you sure you want to delete this post?</h6>
                                        <p class="note">Please note that this action cannot be undone.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="review_btn" data-dismiss="modal">Cancel</button>
                                        <a href="{{url_for('delete_post', post_id=post._id)}}" class="review_btn">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}

    </section>
    
{% endblock %}