{% extends 'base.html'%} 

{% block content %}

    {% for result in results %}

        <div class="row no-gutters">
            <div class="row no-gutters">
                <div class="col-sm-8 {% if loop.first == True %}first_book{% else %}books{% endif %}">
                    <a href="{{url_for('book_page', book_id=result._id)}}"><h3>{{result.book_title}}</h3></a>
                    <div class="row book_info">
                        <div class="col-4 col-lg-2">
                            <img src="{{result.cover_photo}}" alt="Cover Image" class="book_cover">
                        </div>
                        <div class="col-8 col-lg-10">
                            <p class="info"><span class="strong">Description:</span> {{result.synopsis}}<br>
                            <span class="strong">Author:</span> {{result.author}}<br>
                            <span class="strong">Year of publishing:</span> {{result.year}}<br>
                            <span class="strong">Collection:</span> {{result.collection}}<br>
                            <span class="strong">Genre:</span> {{result.genre}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}
    
{% endblock %}